
<html>
  <head>
    <title>TODO App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-app="todoLists">

    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a href="/#/home">{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/home" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/signup">Sign Up</a></li>
      </ul>
    </nav>

    <h3>SIMPLE TODO LISTS</h3>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/signup">Sign Up</a> before you can view and add todo lists.</h3>
      </div>
      <div ng-show="isLoggedIn()">
        <div ng-repeat="project in projects" class="todo-list">
          <div class="project">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="project-title">{{ project.title }}</span>
            <span class="project-options">
              <span class="glyphicon glyphicon-pencil" ng-click="goToEditProjectPage(project)"></span>
              <span class="glyphicon glyphicon-trash" ng-click="removeProject(project)"></span>
            </span>
          </div>
          <div class="add-task">
            <div class="glyphicon glyphicon-plus"></div>
            <form ng-submit="addNewTask(project)">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Start typing here to create a task..."
                  ng-model="newTask.body[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Add Task</button>
                  </span>
              </div>
            </form>
          </div>
          <table class="table">
            <tr ng-repeat="task in project.tasks | orderBy: 'priority'">
              <td>
                <table class="nested-table">
                  <tr>
                    <td class="status">
                      <span><input type="checkbox" ng-model="task.status" ng-change="changeStatus(project, task)"></span>
                    </td>
                    <td class="task-body">
                      <span>{{task.body}}</span>
                    </td>
                    <td class="options">
                      <span>
                        <span class="glyphicon glyphicon-triangle-top" ng-click="prioritizeUp(project, task)"></span><br>
                        <span class="glyphicon glyphicon-triangle-bottom" ng-click="prioritizeDown(project, task)"></span>
                      </span>
                      <span class="glyphicon glyphicon-pencil" ng-click="goToEditTaskPage(project, task)"></span>
                      <span class="glyphicon glyphicon-trash" ng-click="removeTask(project, task)"></span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-default btn-lg add-list" ng-click="goToAddNewProjectPage()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add TODO List
            </button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/addProject.html">
      <h3>Add new TODO List</h3>
      <form class="add-edit" ng-submit="addNewProject()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Start typing here to create a list..." ng-model="projectTitle">
          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Add List</button>
          </span>
        </div>
      </form>
      <div>
        <button class="btn btn-default cancel" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="/editProject.html">
      <h3>Edit TODO List</h3>
      <form class="add-edit" ng-submit="editProject()">
        <div class="input-group">
          <input
          type="text"
          class="form-control"
          ng-model="projectTitle"
          value="{{project.title}}">
          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Edit List</button>
          </span>
        </div>
      </form>
      <div>
        <button class="btn btn-default cancel" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="/editTask.html">
      <h3>Edit Task for "{{project.title}}" List</h3>
      <form class="add-edit" ng-submit="editTask()">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            ng-model="taskBody">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Edit Task</button>
            </span>
        </div>
      </form>
      <div>
        <button class="btn btn-default cancel" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="/signup.html">
      <h3>Sign Up</h3>
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form class="add-edit" ng-submit="signup()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            ng-model="user.username">
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default auth">Sign Up</button>
      </form>
      <div>
        <button class="btn btn-default cancel cancel-auth" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="/login.html">
      <h3>Log In</h3>
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form class="add-edit" ng-submit="logIn()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            ng-model="user.username">
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default auth">Log In</button>
      </form>
      <div>
        <button class="btn btn-default cancel cancel-auth" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>
  </body>
</html>
